@page
@model PortfolioApp.Pages.Portfolio.BookKeepModel
@{
    ViewData["Title"] = "BookKeep";
    ViewData["BackgroundImage"] = "/assets/images/header/bookkeep.jpg";
    ViewData["Description"] = "WPF app to track your library";
}

<hr />
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <h2>The WPF book library</h2>

                <p>
                    WPF application to keep track of books user has read as well as a wishlist and search functionality.
                    While making this application I followed the MVVM principle. I believe it created a clean architecture enabling easy maintenance and extension.

                    <p>Built with:</p>
                    <ul>
                        <li>
                            GoodreadsApi - <a href="https://www.goodreads.com" target="_blank">www.goodreads.com</a>
                        </li>
                        <li>
                            <a href="https://github.com/MahApps/MahApps.Metro/" target="_blank">MahApps.Metro</a>
                        </li>
                        <li>
                            <a href="https://github.com/adamkrogh/goodreads-dotnet" target="_blank">Goodreads .NET API Client Library</a> - by Adam Krogh
                        </li>
                    </ul>
                </p>
                <p>Check the source code on <a href="https://github.com/KarimShavar/bookkeep" target="_blank">github.</a></p>

                <img class="img-fluid" src="~/assets/images/portfolio/bk1.png" alt="">
                <span class="caption text-muted">Search www.goodreads.com whole library!</span>

                <img class="img-fluid" src="~/assets/images/portfolio/bk2.png" alt="">
                <span class="caption text-muted">Be sure to check the source code.</span>
            </div>
        </div>
    </div>
</article>
<hr/>
