@page
@model PortfolioApp.Pages.BlogModel
@{
    ViewData["Title"] = "Blog";
    ViewData["BackgroundImage"] = "assets/images/header/trees.jpg";
    ViewData["Description"] = "Have a look at my projects";
}

<h1>Blog</h1>

