@page
@model PortfolioApp.Pages.PortfolioModel
@using ChartJSCore.Models
@{
    ViewData["Title"] = "Portfolio";
    ViewData["BackgroundImage"] = "assets/boats.jpg";
    ViewData["Description"] = "Have a look at my projects";
}

<h1>Portfolio</h1>
<div class="row h-100">
    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <a asp-page="/Portfolio/OpenWeather"><img class="card-img-top" src="~/assets/snow.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-page="/Portfolio/OpenWeather">OpenWeather API Tech Test</a>
                </h4>
                <p class="card-text">Tech test from my mentor ment for Angular role.
                    Made from specification using Asp Net Core and some JS.
                    I'm very happy with how clean the architecture turned out in the end.</p>
                <a href="https://github.com/KarimShavar/WeatherAPI-Tech-Test">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span><h6 class="d-inline">Source Code</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card h-100">
            <a asp-page="/Portfolio/BookKeep"><img class="card-img-top" src="~/assets/books.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-page="/Portfolio/BookKeep">Book Keep</a>
                </h4>
                <p class="card-text">Fully functioning WPF application to keep track of your library. Add, remove books from your library or wishlist. Make use of www.goodreads.com whole library.</p>
                <a href="https://github.com/KarimShavar/BookKeep">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span><h6 class="d-inline">Source Code</h6>
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
