@page
@model PortfolioApp.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
    ViewData["BackgroundImage"] = "assets/images/header/water.jpg";
    ViewData["Description"] = "Adam Ciszewski";
}

<h1>Resume</h1>

